body{
	font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

input{
	margin-right: 5px;
	/*margin-left:5px;*/
}

/*label{
	font-weight: bold;
}*/

.row {
	margin-bottom: 0px;
}


/*.row > div {;
	border:2px solid black;
}*/

/*.device, .parameters {
	height:250px; 
}
*/
.paramrow{
	margin-top: 30px
	margin-bottom:6px;
}
.devicecolumn {
	margin-top: 50px
}
.pdeotcolumn, .misccolumn{
	margin-top: 15px;
	margin-bottom: 10px;
}

.param-header{
	/*font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
	font-size:200%;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 15px;
	
}

.plots-area{
	border:2px solid black;
	height:500px; 

}

.img-PDEOT {
	background-color:lightgray;
	height:40px;
	border-radius: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px; 
	font-weight: bold; 
	margin: 0px 0px 0px 10px;
}

.img-PSE {
	border:2px solid black;
	border-radius: 0px;
	height:80px;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;  
	font-weight: bold;
	margin: 0px 0px 0px 10px;

}

.drawbtn{
	width: 150px;
}

#graph1, #graph2{
	height:300px;
	margin-right: 5px;
	margin-left: 5px;
}

#draw-btn{
	margin-top: 25px;
	margin-bottom: 10px;
}

button{
	background-color: white;
	border:0;
	font-weight: bold;

}

.max, .step{
	display: none;
}

.rangebtn:disabled {
    /*background: #dddddd;*/
    font-weight: normal;
    color:  #dddddd;
}

.status{
	margin: 35px 10px 0px 10px;
}

#progressbar{
	background-color: #dddddd;
	border-radius: 5px;
	padding: 0px 0px 0px 0px;
	/*width: 20%;*/
	/*height: 30px;*/
}

#progressval{
	background-color: blue;
	width:1%;
	height: 30px;
	border-radius: 5px;
	/*margin-top: 20px;*/
}